.root-el {
  max-width: 1200px;
  gap:3rem;
  margin-inline: auto;
  padding: 1rem;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
}

.main-header {
  width: calc(100vw - 4rem);
  --outline-thick: 4px;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  border-radius: 12px;
  align-self: flex-start;
  margin-inline: auto;
}

.score-container {
  --gap: 0;
  background-color: #fff;
  padding: 0.5rem 2rem;
  place-items: center;
  line-height: 1.1;
  border-radius: 8px;
}

.score-num {
  line-height: 1;
  padding: 0;
}

.rules-btn {
  padding: 0.8rem 2rem;
  outline: 1px solid #fff;
  border-radius: 12px;
  border: none;
  align-self: flex-end;
  justify-self: center;
}

.game-elments {
  justify-self: center;
  align-self: center;
  position: relative;
  margin-top: 3rem;
}

.pentagon-img {
  max-width: calc(80vw - 4rem);
  aspect-ratio: 1;
}

.game-element {
  padding: var(--img-padding);
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: linear-gradient(var(--custom-clr));
  filter: brightness(1);
  transition: filter 0.5s linear
}

.game-elments .game-element {
  --img-padding: 0.6rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

.winner-card .game-element {
  --img-padding: 1rem;
}

.game-element__btn {
  background-color: #fff;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: var(img-padding);
  box-shadow: inset 0 0 5px gray;
  display: grid;
  place-items: center;
}

.game-elments .game-element__btn {
  width:5em;
  height:5em;
}

.game-elments .game-element__btn .img {
  max-width: 45%;
}

.winner-card .game-element__btn .img {
  width:60%;
}

.game-element:hover {
  filter: brightness(1.4)
}

.game-element:hover .img {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {scale: 1;}
  50% {scale: 1.1;}
  100% {scale: 1;} 
}

.empty-slot {
  border-radius: 50%;
  background-color: hsl(237, 49%, 15%);
}

.winner-card {
  justify-content: space-around;
  align-items: center; 
  color: white;
}

.winner-card .game-element__btn, .empty-slot {
  width: clamp(8em, 6em + 8vw, 15em);
  height: clamp(8em, 6em + 8vw, 15em);
}

.game-slot {
  gap: 2rem;
}

.player-title {
  text-align: center;
}

.rules-card {
  position: fixed;
  margin: auto;
  inset: 0;
  padding: 1.5rem;
  border: none;
  border-radius: 12px;
}

.rules-card::backdrop {
  background-color: #fff;
}

.dialog-content {
  grid-template-areas: 'title' 'main' 'btn';
  justify-items: center;
  gap: 2rem;
} 

.rules-title {
  grid-area: title;
}

.close-img-container {
  grid-area: main
}

.close-rules-btn {
  grid-area: btn;
}

@media screen and (min-width:550px) {
  
  .rules-card {
    position: fixed;
    margin: auto;
    inset: 0;
    width: 50%;
    max-width: 500px;
    padding: 1.5rem;
    border: none;
    border-radius: 12px;
  }
  
  .rules-card::backdrop {
    display: unset;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
  }

}

@media screen and (min-width:750px) {

  .root-el {
    position: relative;
    gap:0;
  }

  .main-header {
    max-width: 800px;
    --outline-thick: 4px;
  }


  .rules-btn {
    position: absolute;
    bottom:1rem;
    right: 1rem;
  } 
  
  .dialog-content {
    grid-template-areas: 'title' 'main';
    padding-block: 1rem;
  } 

  .rules-title {
    justify-self: flex-start;
  }

  .close-rules-btn{
    grid-area: title;
    justify-self: flex-end;
  }

}
